<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeWork68CoreDataProductCategory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19C0B3E91E851BF6008E4B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19C0B4051E851BF7008E4B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19C0B4101E851BF7008E4B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
